p Please enter a number in every "%" box above. Percentages must add up to 100%.
p An entity-owned firm is a firm that is owned by an American Indian Tribe, an Alaska Native Corporation, a Community Development Corporation, or a Native Hawaiian Organization. For example, American Indian Tribe (AIT) means that the firm is owned by a Native American Tribe not an individual who is of Native American descent. If the applicant firm is owned by individual(s) then only fill in the “Individuals” percentage above.
p American Indian Tribe (AIT) means any Indian tribe, band, nation, or other organized group or community of Indians, which is recognized as eligible for the special programs and services provided by the United States to Indians because of their status as Indians, or is recognized as such by the State in which the tribe, band, nation, group, or community resides.
p An Alaska Native Corporation (ANC) means any Regional Corporation, Village Corporation, Urban Corporation, or Group Corporation organized under the laws of the State of Alaska in accordance with the Alaska Native Claims Settlement Act, as amended 43 U.S.C. 1601, et seq.
p A Community Development Corporation (CDC) means a nonprofit organization responsible to residents of the area it serves which has received financial assistance under 42 U.S.C. 9805, et seq.
p An Native Hawaiian Organization (NHO) means any community service organization serving Native Hawaiians in the State of Hawaii which is a non-profit corporation that has filed articles of incorporation with the Director (or the designee thereof) of the Hawaii Department of Commerce and Consumer Affairs, or any successor agency, is controlled by Native Hawaiians, and whose business activities will principally benefit such Native Hawaiians.