| To qualify as an EDWOSB, a business must be at least 51 percent owned by one or more women
i who are economically disadvantaged
|. The determination of whether a woman is
i economically disadvantaged
| requires an evaluation of her total assets, her net worth, and her personal income for the past three years. To be considered an economically disadvantaged woman, the woman must meet all three of the thresholds described below:
br
br
| The woman's total assets must be valued at less than $6M. This calculation is based on the fair market value of all assets, including the woman’s primary residence and the value of the business concern. However, the calculation excludes funds invested in an Individual Retirement Account or other official retirement account that are unavailable until retirement age without a significant penalty.
br
br
| The woman’s net worth must be less than $750K. This calculation excludes the woman’s ownership interest in the concern and her equity interest in her primary personal residence.
br
br
| The woman’s personal income must be less than $350K. This calculation is based on the woman’s annual adjusted gross income averaged over the last three years.
