p In general, to maintain your firm’s 8(a) eligibility, the firm owner claiming disadvantage must receive the highest pay. This rule does not apply to contractors or other people you hire to perform specialty services. 