|
  Dear SBA Staff Member,

  Your request to serve as #{@role} has been accepted.

  Please follow this link to sign in to certify.SBA.gov and begin using the system:

  https://certify.sba.gov/max_gov

  Regards,
  Office of Government Contracting and Business Development
  U.S. Small Business Administration (SBA)
