p Dear SBA Staff Member,

p Your request to serve as #{@role} has been rejected.
  
p It is possible that the approver rejected your request in error.  If you believe this is the case, please contact the individual at your organization who manages your SBA certifications to arrange for approval, then resubmit your request.

p Regards,
p Office of Government Contracting and Business Development
p U.S. Small Business Administration (SBA)
