| This is the value of the individual’s equity interest in companies other than the applicant firm.  Use the companies’ current balance sheets to determine the value of the individual’s equity interests. The value of individual’s equity interest equals the company’s net worth multiplied by the individual’s ownership percentage.  The amount on this line should be the sum of the individual’s equity interests in all companies other than the applicant firm.
