p
  | To raise capital for the Protégé firm the Mentor may generally own an equity interest of up to 40% in the Protégé firm. Reference:
  a< href="http://www.ecfr.gov/cgi-bin/text-idx?SID=989adebd47a3fe6909dd2b46d400cb20&mc=true&node=se13.1.124_1520&rgn=div8" class="usa-external_link" target="_blank" 13 CFR 124.520(d)(2)