p If yes, you must submit a letter of no objection from your federal agency.  The Federal Acquisition Regulation (FAR), Subpart 3.6 [https://www.acquisition.gov/?q=/browse/far/3] places restrictions on Federal Government employees which may prevent the Applicant Firm from acquiring contracts or create conflicts of interest.  In addition, there are limitations on SBA’s ability to provide assistance to government employees.  See 13 C.F.R. § 105.301.