p
  ' In determining unconditional ownership of the business, any unexercised stock options or similar agreements held by a woman will be disregarded. However, any unexercised stock option or other agreement, including the right to convert non-voting stock or debentures into voting stock, held by any other individual or entity will be treated as having been exercised. Reference:
  a.usa-external_link[href="http://www.ecfr.gov/cgi-bin/text-idx?SID=f1e0fd13e1fb5c7346aa7a337f3d9671&mc=true&node=se13.1.127_1201&rgn=div8" target="_blank"]
    | 13 C.F.R. 127.201(f)