| If yes, explain the changes and identify all prior owners, ownership percentage, and dates of ownership within the last two years. Please upload the stock, purchase or sales agreements and evidence of compliance with all terms and conditions of the stock, purchase or sales agreements.