p In this subsection you’ll be asked to identify the type(s) of assistance you’re seeking from your mentor. There are six categories to choose from, and you may select any or all that apply to your situation.
p Based on your selection(s), you will be asked to specify: 1) what your needs within the selected area are; 2) what activities your mentor will do to support each of your needs; 3) the detailed timeline and number of hours in annual increments for meeting each of your needs; and 4) how you will measure whether each of your needs have been successfully met.