| If yes, upload information on the terms and restrictions of the account. Supplying the most recent account statement from your IRA provider will suffice in most cases. SBA will not include the funds in calculating your net worth if the statement indicates that the funds are not available until retirement age without a significant penalty.