p style="font-family:'Source Sans Pro','Helvetica','Arial',sans-serif"

p  Dear #{@business_name},

p  Your current #{@program} certificate is due to expire on #{@expiration_date}, which is in #{@num_of_days} day(s). In accordance with SBA regulations, you are required to update your certification questionnaire at least once per year. 13 C.F.R. 127.300(f). Review your WOSB or EDWOSB certification and associated documents you provided last year in order to ensure that they are still current, accurate and complete. You can access these data points through
a href="https://certify.sba.gov/users/sign_in" Certify.SBA.gov

br
p  Regards,
p  Office of Government Contracting and Business Development
p  U.S. Small Business Administration (SBA)
