| List any notes payable including credit cards and personal lines of credit.  Include loans owed to the applicant firm, other companies, and individuals.  Exclude mortgage and vehicle loans, etc. if listed in previous sections. If you have additional liens or debts against your vehicles or personal property, list them. List all other liabilities, including accounts payable. Do not include contingent liabilities.