p
  ' If yes, upload a signed
  = link_to 'Representatives and Fees form', 'https://www.sba.gov/sites/default/files/2017-10/Representative%20Form%201010%20Business.pdf', target: '_blank'
  '
  ' proof of payment, and the consulting agreement (if applicable). Outside consultants may include attorneys, accountants, appraisers, agents, or other representatives who assisted in preparing your application.
