| Please provide all W-2 forms, schedules, forms, statements, and 1099s accompanying the tax returns. 

| If you file jointly with the individual claiming disadvantage, do not upload duplicate documents. You may still need to upload your individual W-2.