|
  Dear #{@contributor_name},

    #{@vendor_name} of #{@organization_name} is asking you to provide information for the company's #{@program} application. This information is required to submit the application.

    Please follow these steps to create an account on certify.SBA.gov, the Small Business Administration website for managing #{@program} applications:
      - Go to certify.SBA.gov.
      - Click the “Create an account” button on the home page.
      - Follow the directions to set up your account.

    Next sign in to certify.SBA.gov and you'll be guided through the steps to provide the information required for #{@organization_name}.

    We recognize that certify.SBA.gov requires you to to enter personal information. The SBA uses advanced best practices to protect your personally identifiable information (PII). Your information will not be viewable by #{@vendor_name} or by any other person from #{@organization_name}. Only SBA staff will see your information.

    Thank you for contributing to this application. For help with certify.SBA.gov, please contact Certify Help Desk at https://certify.sba.gov/help.

  Sincerely,
  The certify.SBA.gov team
