|
  Dear #{@contributor_name},

  #{@vendor_name} of #{@organization_name} no longer needs you to provide information for the company's #{@program} application.

  If you created an account on certify.SBA.gov and entered information for this application, you no longer have access to that information – nor does #{@vendor_name} of #{@organization_name}.

  You can still use your account to to apply to SBA programs or to provide information for another company that's applying.

  For help with certify.SBA.gov, please contact the Certify Help Desk at https://certify.sba.gov/help.

  Sincerely,
  The certify.SBA.gov team
