p Affiliation exists when one business has the power to control another business. This could occur through ownership, management, or other relationships or interactions between two parties. If the SBA determined you and your mentor to be affiliated, then your mentor’s size is included in your business’s receipts, employees, or other measures of size.
