ul
  li Non-profit entities are ineligible to participate in most SBA small business programs.
  li The firm may be in the legal form of an individual proprietorship, partnership, limited liability company, S Corporation, or C Corporation.
  li Exceptions: This rule does not necessarily apply to Community Development Corporations (CDC) or businesses interested in participating as mentors in Mentor Protégé programs.
