p
  ' If yes, please upload Articles of Organization (also referred to as Certificate of Organization, or Articles of Formation) and any amendments; or Operating Agreement and any amendments that show that one or more women serve as management members, with control over all decisions; the Joint Venture Agreement if applicable.  Reference:
  a.usa-external_link[href="http://www.ecfr.gov/cgi-bin/retrieveECFR?gp=&SID=bda87f3702c6bc5eadcf49e3d85cfa94&mc=true&n=sp13.1.127.b&r=SUBPART&ty=HTML#se13.1.127_1202" target="_blank"]
    | 13 C.F.R. 127.202(e)