p
  | Both the Protégé and the Mentor must complete the
  a< href="https://www.sba.gov/course/all-small-mentor-protege-program/" target="_blank" class="usa-external_link" Mentor-Protégé Program training module
  | . The Protégé must upload the Mentor’s certificate of completion.