= render partial: "answers/question_types/default", locals: {answer: answer, business_partner: (business_partner if defined? business_partner), questionp: questionp, editable: editable, section: section}