|
  Dear Government Contracting Official,

  Your request to view the SBA WOSB/EDWOSB small business certification of #{@organization.name} as a part of a review for solicitation ##{@access_request["solicitation_number"]} has been accepted.

  You have 90 days to view this certification application before your access expires. Please follow this link to sign in to certify.SBA.gov and view their certification application and supporting documentation:

  https://certify.sba.gov/max_gov

  Regards,
  Office of Government Contracting and Business Development
  U.S. Small Business Administration (SBA)