p style="font-family:'Source Sans Pro','Helvetica','Arial',sans-serif"
p Dear SBA Program participant,
p
  | You have received a request from #{@user["max_first_name"]}  #{@user["max_last_name"]}, #{@user["max_email"]} a government contracting officer or contracting specialist with #{@user["max_agency"]}, to view your SBA WOSB/EDWOSB small business certification as a part of a review for solicitation ##{@solicitation_number}.
p Please follow this link to sign in to certify.SBA.gov and either approve or reject their access request:
p = link_to(vendor_admin_access_requests_url, vendor_admin_access_requests_url)
p Regards,
p Office of Government Contracting and Business Development
p U.S. Small Business Administration (SBA)

