|
  Dear Government Contracting Official, 

  Your request to review the SBA WOSB/EDWOSB small business certification of #{@organization.name} as a part of a review for solicitation ##{@access_request["solicitation_number"]} has been denied.
  
  It is possible that the vendor administrator for this business denied your request in error.  If you believe this is the case, 
  
  Please contact the vendor,
  
  Provide your name, agency, job title, e-mail address and solicitation #
  Confirm that their DUNS # matches the one you have on file.
  Explain how verifying their self-certification plays a role in your solicitation.
  Resubmit your request.
  
  Regards,
  Office of Government Contracting and Business Development
  U.S. Small Business Administration (SBA)
