p 
  | Your SBA District Office approves JV agreements only when an 8(a) firm can’t perform the contract by itself, and the JV agreement is fair and benefits the 8(a) firm substantially. Reference:
  '
  a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=50ff66d5d1cc9357d5f4ce114fcc5c79&mc=true&node=pt13.1.124&rgn=div5#se13.1.124_1513" target="_blank" 13 C.F.R. § 124.513
