ul
  li To be eligible for the 8(a) BD program, a firm must be majority owned and controlled by individuals who are socially disadvantaged. Black Americans, Hispanic Americans, Native Americans, Asian Pacific Americans, and Subcontinent Asian Americans are presumed to be socially disadvantaged under federal law.
  li If you are not a member of a presumed group, you may still be eligible for admission to the 8(a) BD program on a case-by-case basis if you demonstrate you have experienced bias of a chronic and substantial nature.
