p
  'A
  b Certificate of Good Standing
  |  is a state-issued document that says your firm is authorized to do business in that state. It is issued by your state’s Secretary of State office. Different states use different names for the Certificate of Good Standing. It may also be called a Certificate of Existence or a Certificate of Status.
