p Your Mentor-Protégé Agreement must be in a NAICS code that is identified in SAM.gov as your primary or secondary code. The NAICS codes listed in the dropdown are the primary or secondary codes associated with your SAM.gov profile.
p If the correct NAICS code is not listed and you need to add another, you must update your SAM.gov profile. Please note that if you add a new NAICS code to your SAM.gov profile, it can take up to <b><u>72 hours</b></u> to update in this application.
