p The individual claiming disadvantaged status must hold the highest position in the firm and receive the highest pay. References: 13 C.F.R. § 124.106(a)(2) and 13 C.F.R. § 124.106(e)(3)
p If no, provide an explanation of how lower compensation for the individual(s) claiming disadvantaged status is in the best interest of the applicant firm. If the applicant firm is entity-owned, respond 'Not applicable.'