p Please provide the last three (3) Federal Tax Returns Form 1040, schedules, W-2s, and completed IRS FORM 4506-T for the qualifying individual(s) and their spouses.

p The personal financial condition of the woman claiming economic disadvantage, including her personal net worth, her adjusted gross income for the past three years (including bonuses, and the value of company stock given in lieu of cash), and the fair market value of all of her assets, whether encumbered or not, will be considered in determining whether she is economically disadvantaged.