p If the qualifying individual is not currently an 8(a) BD Program Participant, please select “No”.  If the qualifying individual was already approved by the 8(a) BD Program and at least 51% of the business is held by women, you are eligible for the WOSB Program as an EDWOSB and you will skip forward to the “Review” section of this application. Please upload your original 8(a) Acceptance Letter and your most recent Annual Review Letter.
p If the qualifying individual is both 8(a) and Third-Party Certified, upload the documentation for both certifications.

