| If yes, upload the DBA Name Certificate or Fictitious Business Name Filing with the city, county or state where the name applies. Specific filing requirements are established by one of those governing authorities and will vary. If your city or state does not require this filing, please explain. Doing Business As Name may include an Assumed Name, Fictitious Name, or Trade Name.