p This question applies to any loans, advances, salaries, bonuses or dividends.

p If yes, please provide each person's name, title, equity interest, and total payments.

p The term "entity affiliated with such individuals" includes all companies or organizations of which an owner, officer or director of the firm is an officer, partner or director or holds a 10% or greater ownership interest.