| Include only assessed taxes that are unpaid.  This includes past due personal Federal, state, county, and city taxes.  Do not include estimated taxes or business taxes.  If this is a joint debt, include only the individual’s share of the debt.