| Include all forms, schedules, and attachments. If you are a sole proprietor, only attach three years of Schedule C forms. SBA needs this information to ensure that the applicant firm meets the “potential for success” and “business size” requirements.