|
    New Certify help request from #{@help_request['first_name']} #{@help_request['last_name']}

    DUNS: #{@help_request['duns']}
    Certify Login Email: #{@help_request['certify_email']}
    SAM Account Status: #{@help_request['sam_active']}
    Program: #{@help_request['program']}
    Subject: #{@help_request['issue']}
    Description: #{@help_request['issue_description']}
