| Documents should show that at least 51% of each class of voting stock outstanding and 51% of the aggregate of all stock outstanding must be owned by the individual(s) claiming disadvantaged status, unless the applicant firm is entity-owned. A transmutation agreement is only required if the individual claiming disadvantaged status is married and resides in a community property state (i.e. California). A transmutation agreement is not required for entity-owned firms. Reference:
a< target="_blank" href="https://www.ecfr.gov/cgi-bin/text-idx?SID=50ff66d5d1cc9357d5f4ce114fcc5c79&mc=true&node=pt13.1.124&rgn=div5#se13.1.124_1105" 13 CFR § 124.105(d)