P If yes, upload the details regarding the debarment or suspension, including any related documents. If you have documents showing the debarment has been lifted, please upload them as well.
p Debarred or suspended firms or firms owned by debarred or suspended persons are ineligible for admission to the 8(a) Business Development program.