p
  ' If yes, please upload a resume to show managerial experience. The woman must have managerial experience of the extent and complexity needed to run the business. Reference:
  a.usa-external_link[href="http://www.ecfr.gov/cgi-bin/text-idx?SID=f1e0fd13e1fb5c7346aa7a337f3d9671&mc=true&node=se13.1.127_1202&rgn=div8" target="_blank"]
    | 13 C.F.R. 127.202(b)