p The NAICS codes listed in the dropdown are the primary or secondary codes associated with your business in SAM.gov. If the correct NAICS code is not listed and you need to add another, you must update your SAM.gov profile. Please note that if you add a new NAICS code to your SAM.gov profile, it can take up to <b><u>72 hours</b></u> to update in this application.

p Picklist options: all of this firm’s associated NAICS codes from SAM.gov