| Include all household goods, jewelry, art, boats, antiques, etc with a value over $2,500. (For example, enter a line for household furnishing with the total value of all furniture.) Include any assets held by a revocable trust for which you are the grantor and beneficiary. If the property is jointly owned, include only the individual’s share of the property.