p If you are not the highest paid employee, please upload an explanation of why this is best for your firm as a PDF. This explanation should be on your firm’s letterhead and signed by you since your firm’s eligibility is based on you.