p  Dear SBA Program participant, 

p  You have received a request from #{@user.name}, #{@user.email} an individual who claims to work for #{@org.name}, to serve as #{@role}.

p  Please follow this link to sign in to certify.SBA.gov and either approve or reject their access request:

a href="https://certify.sba.gov/users/sign_in" https://certify.sba.gov/users/sign_in
br

p  Regards,
p  Office of Government Contracting and Business Development
p  U.S. Small Business Administration (SBA)