p style="font-family:'Source Sans Pro','Helvetica','Arial',sans-serif"

p  Dear SBA Program Participant,

p  Your request to serve as #{@role} has been accepted.
  
p  Please follow this link to sign in to certify.SBA.gov and begin using the system:
  
a href="https://certify.sba.gov/users/sign_in" https://certify.sba.gov/users/sign_in

br
p  Regards,
p  Office of Government Contracting and Business Development
p  U.S. Small Business Administration (SBA)
