|
  Dear SBA Program participant, 

  You have received a request from #{@user.name}, #{@user.email} an individual who claims to work for #{@org.name}, to serve as #{@role}.

  Please follow this link to sign in to certify.SBA.gov and either approve or reject their access request:

  https://certify.sba.gov/users/sign_in

  Regards,
  Office of Government Contracting and Business Development
  U.S. Small Business Administration (SBA)
