p
  | One or more individual(s) claiming disadvantaged status must serve as general partners, with control over all partnership decisions. A partnership in which no individual claiming disadvantaged status is a general partner will be ineligible for participation. Reference:
  a< target="_blank" href="https://www.ecfr.gov/cgi-bin/text-idx?SID=50ff66d5d1cc9357d5f4ce114fcc5c79&mc=true&node=pt13.1.124&rgn=div5#se13.1.124_1105" 13 CFR §124.105(b)