|
  Time.now.strftime("%m/%d/%Y")
  Dear #{@business_name}:

  This is a friendly reminder to submit your annual evaluation report for the All Small Mentor Protégé Program. Your report is due on #{@expiration_date}

  For details about this program requirement, please see SBA regulations 13 C.F.R. 125.9(g) and 13 C.F.R. 125.9(g)(4).

  Send questions to ASMPPAnnualReporting@sba.gov with the Subject line “Annual Report Questions.”

  Best regards,
  The All Small Mentor Protégé Team