p = "#{Time.now.strftime("%m/%d/%Y")}"
p = "Dear #{@business_name}:"

p = "You missed the deadline for submitting your annual evaluation report for the All Small Mentor Protégé Program. We’re granting you this one-time extension until #{@expiration_date} to submit your report."

p For details about this program requirement, please see SBA regulations 13 C.F.R. 125.9(g) and 13 C.F.R. 125.9(g)(4).

p Send questions to ASMPPAnnualReporting@sba.gov with the Subject line “Annual Report Questions.”

p Best regards,
p The All Small Mentor Protégé Team