p = "#{Time.now.strftime("%m/%d/%Y")}"
p = "Dear #{@business_name}:"

br
p = "This is a friendly reminder to submit your annual evaluation report for the All Small Mentor Protégé Program. Your report is due on #{@expiration_date}"
br
p For details about this program requirement, please see SBA regulations 13 C.F.R. 125.9(g) and 13 C.F.R. 125.9(g)(4).
br
p Send questions to ASMPPAnnualReporting@sba.gov with the Subject line “Annual Report Questions.”
br
p Best regards,
p The All Small Mentor Protégé Team