p = "#{Time.now.strftime("%m/%d/%Y")}"
p = "Dear #{@business_name}:"

p = "It’s time to submit your annual evaluation report for the All Small Mentor Protégé Program. Your report is due on #{@expiration_date}, 30 days before your anniversary date."

p For details about this program requirement, please see SBA regulations 13 C.F.R. 125.9(g) and 13 C.F.R. 125.9(g)(4).

p How to submit your annual evaluation report:
ol
  li Go to Certify.SBA.gov and download the Evaluation Report Template. It’s a PDF you can enter your information into.
  li Get your Mentor to complete the Mentor Addendum, sign it and return it to you. If a question does not apply, please enter N/A. 
  li Sign the report, attach the Mentor Addendum, and upload them to certify.SBA.gov in the section titled under Protégé Information titled “Active Agreement Documents.” 
  br NOTE: If your Mentor has not completed your Mentor Addendum, don’t delay submission of your annual evaluation report. Meeting the deadline protects your Mentor Protégé Agreement. Once you have the Mentor Addendum, upload it as soon as possible.

p Send questions to ASMPPAnnualReporting@sba.gov with the Subject line “Annual Report Questions.”

p We hope you’ve had a great year. We look forward to getting your report and hearing your feedback, particularly how the program helped you succeed in the federal government marketplace.

p Best regards,
p The All Small Mentor Protégé Team
