|
  Time.now.strftime("%m/%d/%Y")
  Dear #{@business_name}:

  You missed the final deadline for submitting your annual evaluation report for the All Small Mentor Protégé Program. We granted you a one-time extension to comply with SBA regulations; however, we have not yet received your report.

  We must hear from you by #{@expiration_date} or we will begin termination of your Mentor Protégé agreement. Please email us immediately at ASMPPAnnualReporting@sba.gov to discuss your plan to meet the requirement.

  Best regards,
  The All Small Mentor Protégé Team