- if can? :view_sba_analyst_dashboard, current_user
  li class=('current-top-nav' if params[:action] == 'index' && params['controller'] == "sba_analyst/dashboard" )
    = link_to 'Dashboard'.html_safe, eight_a_initial_sba_analyst_dashboard_index_path, class: 'usa-nav-link'

  = render partial: 'layouts/application/navbar/all_sba_user'