p If yes, you must upload documents that show proof of work in that area (such as contracts, cancelled checks, or invoices). You must have prior experience in the NAICS code in which you’re seeking assistance.
