= render partial: 'shared/eight_a/masthead/index_no_links'
= render partial: 'shared/workflow_steps/add_sba_note', locals: {subheading: 'Cancel case: Step 1 of 2', lead: 'This note will only be visible to the SBA. Your note should explain why you canceled this case.', sba_action: 'canceling', skip: false}
