p
  | To participate in the All Small Mentor-Protégé Program, a protégé may have no more than two mentors across SBA’s Mentor-Protégé programs. Mentors may have no more than three protégés. Reference:
  a< href="https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=&SID=876549d2b6aa3bd077716088db045549&n=pt13.1.125&r=PART&ty=HTML#se13.1.125_19" class="usa-external_link" target="_blank" 13 CFR 125.9