div id="#{question.dom_id}"
  = radio_button_tag question.dom_id, "yes", question.value == 'yes', name: question.dom_id
  = label_tag "#{question.dom_id}_yes", "Yes", class: 'yes'

  = radio_button_tag question.dom_id, "no", question.value == 'no', name: question.dom_id
  = label_tag "#{question.dom_id}_no", "No", class: 'no last'

- unique_id = question.dom_id('details').parameterize.underscore
= render partial: 'datatables/table_layout', locals: {unique_id: unique_id, layout: question.question.strategy}

javascript:
  $(document).ready(function ()
  {
    var config = {
      radio_choice: "input:radio[name='#{question.dom_id}']",
      value: "yes",
      dom_area: "##{question.dom_id('datatable_wrap').parameterize.underscore}"
    };

    $(config['radio_choice']).change(function() {
      if (this.value == config['value']) {
        $(config['dom_area']).show();
      } else {
        $(config['dom_area']).hide();
      }
    });
  });

.datatable id="#{question.dom_id('datatable_wrap').parameterize.underscore}" class=('required') style=("display:none" unless "yes" == question.value)
  .hide
    = text_area_tag question.dom_id('details'), (question.details unless question.details == "null")
  = render partial: "question_types/table/#{question.question.strategy.underscore}", locals: {question: question, unique_id: unique_id}