= render partial: 'shared/eight_a/masthead/index', locals: {application: @sba_application, organization: @organization }
= render partial: 'application_dashboard/overview/select_duty_station', locals: {application: @sba_application, title: 'Change District Office' }
