p
  ' Under the WOSB Program, the 51% ownership must be direct and not through another business entity or a trust (including employee stock ownership plan). Companies which attain 51% ownership by a qualifying individual(s) through a trust or other arrangement that is owned and controlled by women are generally not eligible for the program. Reference:
  a.usa-external_link[href="http://www.ecfr.gov/cgi-bin/retrieveECFR?gp=&SID=854710e39d15c2c056d68c50cb48db66&mc=true&n=pt13.1.127&r=PART&ty=HTML#se13.1.127_1201" target="_blank"]
    | 13 CFR 127.201(b)