= render partial: 'shared/eight_a/masthead/index_no_links'
= render partial: 'shared/workflow_steps/add_sba_note', locals: {subheading: 'Close case: Step 1 of 3', lead: 'This note will only be visible to the SBA. Your note should explain why you closed this case.', skip: false}
