p Revenues must be shown in Federal business tax returns. If no, the applicant firm needs SBA’s approval for a waiver of the “potential for success” requirement. The applicant firm needs to upload documentation showing how the applicant firm meets the five conditions specified in the regulation. Reference: 13 CFR § 124.107

p If no and the applicant firm is entity-owned, upload documentation showing how the applicant firm meets the “potential for success” requirement. Regulations specify three different ways entity-owned firms may meet the requirement. Reference: 13 CFR §124.109(c)(6), 13 CFR