p If you are an Alaskan Native or Native Hawaiian, please upload your birth certificate.
p If you are an enrolled member of a federal or state recognized Indian tribe, please upload your tribal card.
p If you are claiming as a Native American and are not currently an enrolled member of a federally or state recognized tribe then you must make a claim based upon a preponderance of the evidence. Go back to the previous question and select “None of the Above."