p
  b These documents cannot be more than 90 days old.

p Also upload an accounts receivable aging report and an accounts payable aging report no more than 90 days old. An accounts receivable aging report shows the balances your customers owe your firm. An accounts payable aging report shows the balances your firm owes for supplies, inventory, or other services.
