p 
  | Program years 5 to 9 are the transitional stage of the 8(a) program. During this stage, your firm should focus on increasing revenue from non-8(a) contracts to prepare for graduation from the program.