= render partial: 'shared/eight_a/masthead/index_no_links'
= render partial: 'shared/workflow_steps/add_sba_note', locals: {subheading: 'Appeal Received Outside Certify: Step 3 of 4', lead: 'Provide details about the appeal.', skip: true}
