div class="read notification  #{read_notification['evt_type']}" data-notify-id="#{ read_notification['id'] }"
  a href="#{ read_notification['certify_link'] }"
    = read_notification['body']

  = render partial: "shared/notifications/notification_time", locals: {notification: read_notification}

