| If yes, upload copies of the current business loans and lines of credit. This includes any loans from factoring companies and officer’s, shareholder’s, or member’s loans. The agreements should identify the complete terms of the loan (loan sources, amounts, purposes of money loaned, name(s) of any persons/firms securing the loan and the name(s) of those guaranteeing the loan).