p The Mentor in the Mentor-Protégé Agreement must have an active record on SAM.gov. If the DUNS number provided does not match an active SAM.gov record, the Mentor firm must update SAM.gov. If the DUNS number does not match the Mentor’s firm name, please verify the correct DUNS number has been provided to you.
p If the Mentor firm has updated SAM.gov within the last 24 hours, you need to wait 24 hours before the update is reflected here, at which time you may return to the application and proceed.