| This is the value of the individual’s equity interest in the applicant firm. The applicant firm is the firm seeking certification with SBA. Use the applicant firm’s current balance sheet to determine the value of the equity interest.  The value of equity interest equals the applicant firm’s net worth multiplied by the individual’s ownership percentage.
