p
  ' If yes, please upload Articles of Incorporation and any amendments; By-laws and any amendments; all stock certificates issued, including the front and back copies signed in accordance with the By-laws (this also applies to all cancelled stock certificates); and the Joint Venture Agreement, if applicable. Women are considered to control the Board of Directors when either: (1) one or more women own at least 51% of all voting stock of the business, are on the Board of Directors and have the percentage of voting stock necessary to overcome any super majority voting requirements; or (2) women comprise the majority of voting directors through actual numbers or, where permitted by state law, through weighted voting. Reference:
  a.usa-external_link[href="http://www.ecfr.gov/cgi-bin/text-idx?SID=f1e0fd13e1fb5c7346aa7a337f3d9671&mc=true&node=se13.1.127_1201&rgn=div8" target="_blank"]
    | 13 C.F.R. 127.202(f)
