p
  ' If yes, please upload the denial letter. Being denied eligibility by one of the SBA-approved certifiers does not necessarily prevent you from qualifying for a self-certification if circumstances have changed. Any business determined not to be qualified may request that SBA review its eligibility once it believes in good faith that it satisfies all of the requirements. Reference:
  a.usa-external_link[href="http://www.ecfr.gov/cgi-bin/text-idx?SID=f1e0fd13e1fb5c7346aa7a337f3d9671&mc=true&node=se13.1.127_1305&rgn=div8" target="_blank"]
    | 13 C.F.R. 127.305