= render partial: 'shared/eight_a/masthead/index_no_links'
= render partial: 'shared/workflow_steps/add_sba_note', locals: {subheading: 'Reassign case', lead: 'Explain why you’re reassigning this Annual Review.', skip: true}
