p One-time-only 8(a) eligibility means any firm or individual that has already used their disadvantaged status to participate in the 8(a) Program is not eligible to participate again.

p If you have already used your one-time eligibility for the 8(a) program, then your firm may not be qualified for the 8(a) program.
