| Thank you for registering with certify.sba.gov. Copy and paste the URL below to a browser to activate your account:

  = confirmation_url(@resource, confirmation_token: @token)

  We continue to look for ways to make your experience with the system better, so we welcome your feedback at https://certify.sba.gov/help.

  Sincerely,
  The certify.SBA.gov team
