p
  | Hello #{@resource.email}!

p We're contacting you to notify you that your Password has been changed.

p We continue to look for ways to make your experience with the system better, so we welcome your feedback at https://certify.sba.gov/help.

br

p Sincerely,
p The certify.SBA.gov team
