p A request has been made to reset the password for the following account: #{@resource.email}.
p To reset your password, click the link below. The link is valid for 24 hours.
p
  = link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token)

p We continue to look for ways to make your experience with the system better, so we welcome your feedback at https://certify.sba.gov/help.

br

p Sincerely,
p The certify.SBA.gov team
