| A request has been made to reset the password for the following account: #{@resource.email}.
| To reset your password, copy and paste the following URL to a browser :

= edit_password_url(@resource, reset_password_token: @token)

| We continue to look for ways to make your experience with the system better, so we welcome your feedback at https://certify.sba.gov/help.

| Sincerely,
| The certify.SBA.gov team
