ul
  li There is a “one time use of eligibility” restriction for individuals and firms to participate in the 8(a) BD Program.
  li This applies to any business that previously participated in the 8(a) BD Program, even if ownership and control of the firm has completely changed.
