p Your firm must have an active record on SAM.gov. If the DUNS number you provide does not match an active record in SAM.gov, you must update your profile in SAM.gov.
p Please note that updates to SAM.gov can take up to <b><u>72 hours</b></u> to update in Certify and be reflected in this application.