p Affiliation exists when one business has the power to control another business. This could occur through ownership, management, or other relationships or interactions between two parties. If the SBA has made a determination of affiliation between you and your mentor, they would have counted your business’s receipts, employees, or other measures of size.