p If yes, please upload the following:
ul
  li A summary of the current status of the lawsuit and claims, including the firm’s interest in the suit
  li A copy of the complaint, answer, and/or counterclaim filed in the suit