p
  |  Both the protégé and the mentor must complete the
  a< href="https://www.sba.gov/course/all-small-mentor-protege-program/" target="_blank" class="usa-external_link" All Small Mentor-Protégé Program training
  | .