p
  | If not included in the Operating Agreement, upload resolutions or any other documentation designating officers, directors, member representatives, management committee members, and general managers. Although not required, if your LLC has issued membership shares, please provide a copy of the certificates and the ledger. At least 51% of each class of member interest must be unconditionally owned by the individual(s) claiming disadvantaged status, unless the applicant firm is entity-owned. Reference:
  a< target="_blank" href="https://www.ecfr.gov/cgi-bin/text-idx?SID=50ff66d5d1cc9357d5f4ce114fcc5c79&mc=true&node=pt13.1.124&rgn=div5#se13.1.124_1105" 13 CFR §124.105(c)