p If no, enter your new primary NAICS code in the explanation field. You must also update your primary NAICS code in SAM.gov.
p You can find your primary NAICS code in your business profile in certify.SBA.gov or SAM.gov.
p In most cases, your firm’s primary NAICS code must account for the largest portion of sales during the most recently completed fiscal year. Unless you file a waiver, your firm must demonstrate two full years of revenue in its primary industry. The SBA will confirm your revenue by looking at your business tax returns.